html{
  background-color:#1d233d;
}
img {
    vertical-align: middle;
    border-style: none;
    height: auto;
    width: 40%
}
 h1{
    color:#07f807e1;
   font-size:4em;
   font-family: 'Prata', serif;
 }
  h4{
     color:#d5e1e1;
   font-size:2em;

 }
    
    #content {
  
        display: inline-block;
        left: 50%;
        position: absolute;
        text-align: center;
        top: 52%;
        transform: translate(-50%, -50%);
    }
 .icon-bar {
        position: fixed;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    /* Style the icon bar links */
    
    .icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 20px;
    }
    /* Style the social media icons with color, if you want */
    
    .icon-bar a:hover {
        background-color: #000;
    }
    
    .github {
        background: rgb(31, 32, 32);
        color: white;
    }
    
    .linkedin {
        background: #007bb5;
        color: white;
    }
    
    .instagram {
        background: #dd2a7b;
        color: white;
    }
 
